@use '../../assets/styles/abstracts/index' as *;

.productDetails {
  @include on-tablet {
    @include table-grid;
  }

  @include on-desktop {
    @include desktop-grid;
  }
}

.button {
  width: 66px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  margin-bottom: 16px;
  text-decoration: none;

  @include on-tablet {
    grid-column: 1 / -1;
  }
}

.icon {
  color: var(--color-primary);
}

.buttonText {
  color: var(--color-secondary);
  @include small-text;
}

.name {
  margin-bottom: 32px;
  @include on-tablet {
    grid-column: 1 / -1;
  }
}

.imageContainer {
  width: 100%;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  @include on-tablet {
    grid-column: 2 / 7;
    height: 340px;
    align-items: baseline;
  }

  @include on-desktop {
    grid-column: 4 / 11;
    width: 464px;
    height: 464px;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.smallImages {
  width: 100%;
  height: 49px;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;

  @include on-tablet {
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 3;
  }

  @include on-desktop {
    grid-column: span 2;
  }
}

.smallImageContainer {
  cursor: pointer;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  transition: border-color var(--effect-duration);

  &:hover {
    border-color: #000;
  }

  @include on-tablet {
    width: 100%;
    max-height: 50px;
  }

  @include on-desktop {
    max-height: 66px;
  }
}

.smallImage {
  max-width: 100%;
  max-height: 100%;
}

.notProductContainer {
  display: flex;
  justify-content: center;
}

.notProductImage {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.active {
  border-color: #000;
}
